.panda-bg-info{
    background-color: #fceae8;
}
.panda-category-watch{
    background-color: #ffa500;
}
.panda-category-bag{
    background-color: #da70d6;
}
.panda-category-shoes{
    background-color: #0000ff;
}
.panda-all-button{
    background-color: #ff4d94;
}
.categories img{
    width: 100px;

}